#root {
  text-align: center;
  font-family: "Hanuman", serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1115%26quot%3b)' fill='none'%3e%3cpath d='M770.53 137.61a29 29 0 1 0-50.48 28.57z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M274.77 217.66L284.39 217.66L284.39 270.34L274.77 270.34z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M687.64 108 a23.84 23.84 0 1 0 47.68 0 a23.84 23.84 0 1 0 -47.68 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M260.62 446.35L305.93 446.35L305.93 491.66L260.62 491.66z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1686.42 7.53L1695.04 7.53L1695.04 42.65L1686.42 42.65z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M380.22 822.14L414.82 822.14L414.82 856.74L380.22 856.74z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M82.91 1034.5L149.04 1034.5L149.04 1140.86L82.91 1140.86z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M48.14 293.05a57.96 57.96 0 1 0 92.39-70.02z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M566.89 843.98L625.42 843.98L625.42 902.51L566.89 902.51z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1224.65 388.94L1269.56 388.94L1269.56 433.85L1224.65 433.85z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1040.01 393.47a12.69 12.69 0 1 0 8.53 23.9z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1537.72 541.21 a22.07 22.07 0 1 0 44.14 0 a22.07 22.07 0 1 0 -44.14 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1807.29 268.97L1862.84 268.97L1862.84 339.96L1807.29 339.96z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1780.71 1033.95 a96.88 96.88 0 1 0 193.76 0 a96.88 96.88 0 1 0 -193.76 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1215.14 1014.89a56.16 56.16 0 1 0 111.28 15.2z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M595.77 124.6L680.46 124.6L680.46 209.29L595.77 209.29z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1138.79 936.4a76.37 76.37 0 1 0-113.26 102.48z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M712.55 899.1L791.46 899.1L791.46 900L712.55 900z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M76.86 742.7 a45.4 45.4 0 1 0 90.8 0 a45.4 45.4 0 1 0 -90.8 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1294.58 852.57a83.48 83.48 0 1 0-105.4-129.49z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M306.6 770.48L389.97 770.48L389.97 836.33L306.6 836.33z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M973.05 253.79a4.68 4.68 0 1 0-6.52-6.72z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M963.33 329.11a68.92 68.92 0 1 0 132.6-37.64z' stroke='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1115'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
